* {
	box-sizing: border-box;
}
body {
	background-color: white;
	font-family: $font;	
	margin: 0;
	padding: 0;	
}
h1 {
	color: darken($dark_green, 25%);
	font-size: 32px;
	line-height: 32px;
	margin: 0;
	text-transform: uppercase;
}
h2 {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
	text-transform: none;
}
a {
	color: $purple;
	text-decoration: none;

	&:hover {
		border-bottom: 2px solid lighten($purple, 10%);
		color: lighten($purple, 10%);
		text-decoration: none;
	}
}
p {
	color: #444444;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}
header {
	border-bottom: 2px solid $dark_green;
	padding: 30px percentage(30px/1920px);
	text-align: center;
	width: 100%;
}
.main-container {
	position: relative;
	padding: 50px percentage(30px/1920px);
}
.item-voting {
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;

	.items {
		@include transition(all, 0.5s, ease-in);
		border: 1px solid $border_color;
		border-radius: 10px;
		-webkit-box-shadow: 0 1px 7px 1px $border_color;
		box-shadow: 0 1px 7px 1px $border_color;
		margin-bottom: 40px;
		margin-right: percentage(90px/1440px);
		overflow: hidden;
		position: relative;
		width: percentage(420px/1440px);

		&:nth-child(3n) {
			margin-right: 0;
		}

		img {
			width: 100%;
		}

		.item-info {
			padding: 15px 15px;
		}

		h2 {
			color: darken($dark_green, 15%);
			margin-bottom: 20px;
		}

		.voting-set {
			border-top: 1px solid lighten($border_color, 2%);
			margin: 0 10px;
			padding: 15px 5px;
			text-align: left;

			.like-icon {
				background-image: url('../images/heart.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
			    height: 30px;
			    vertical-align: middle;
			    width: 30px;

			    &:hover {
			    	cursor: pointer;
			    }
			}

			.vote-count {
				color: gray;
				display: inline-block;
				margin-left: 15px;
				vertical-align: middle;
			}
		}
	}
}
footer {
	padding: 30px percentage(30px/1920px);
	text-align: center;

	small {
		font-size: 16px;
		line-height: 22px;
	}
}

